@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: Montserrat , -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(-20deg, #b721ff 0%, #2a58b5 100%);
}

body::-webkit-scrollbar {
  display: none;
}
